<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <a routerLink="/app">App</a>
  <a routerLink="/home">Home</a>
  <a routerLink="/generalizacao">Generalizacao</a>
  <a routerLink="/group">Grupo</a>
</nav>
<router-outlet></router-outlet>

