  <table>
    <thead>
      <tr>
        <td>id</td>
        <td>nome</td>
      </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let obj of array">
          <td>{{ obj.id }}</td>
          <td>{{ obj.nome }}</td>
        </tr>
    </tbody>
  </table>