<form action="" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 15%">
  <label for="male">Male</label>
  <input type="text" [(ngModel)]="males" name="males">
  <br><br>
  <label for="female">Female</label>
  <input type="text" [(ngModel)]="females" name="females">
  <br><br>
  <label for="group">Group</label>
  <input type="text" [(ngModel)]="group" name="group">
</form>
 